.save_confirm_button {
    color: #FFFFFF;
    background-color: #3aadaa;
    border-color: #3aadaa;
}

.new_ship_add {
    color: #FFFFFF;
    background-color: #3aadaa;
    border-color: #3aadaa;
}

.edit_address {
    color: #FFFFFF;
    background-color: #3aadaa;
    border-color: #3aadaa;
}

.delete_address {
    color: #FFFFFF;
    background-color: #DC3545;
    border-color: #DC3545;
}